<!DOCTYPE html>
<html>
  <head>
    <title>NewsPaper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-dark bg-light">
    <ul class="nav nav-pills">
      <li>
        <a class="navbar-brand" style="margin-left: 20px">NewsPaper</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/my_profile">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/articles">Articles</a>
      </li>
      <li class="nav-item">
      </li>
    </ul>
  </nav>
    <%= yield %>
  </body>
</html>
